<div class="container">
  <h2 id="menu-categories-title" class="text-center">Registration</h2>


  <fieldset>
      <legend>regCtrlistration</legend>
      <form name='regCtrlForm' novalidate>

        <input type="text" name="firstName" placeholder="First name"
          ng-model="regCtrl.info.firstName"
          required
          minlength="4"
          ng-maxlength="10">
          {{ regCtrl.info.firstName }}
          <span
            ng-if="(regCtrlForm.firstName.$error.minlength || regCtrlForm.firstName.$error.required) && regCtrlForm.firstName.$touched">
            First Name must be at least 4 characters long
          </span>
          <span ng-if="regCtrlForm.firstName.$error.maxlength && regCtrlForm.firstName.$touched">
            First Name must not be longer than 10 characters
          </span>
          <br>
        <input type="text" name="lastName" placeholder="Last name"
        ng-model="regCtrl.info.lastName"
        required
        minlength="4"
        ng-maxlength="10">
        {{ regCtrl.info.lastName }}
        <span
        ng-if="(regCtrlForm.lastName.$error.minlength || regCtrlForm.lastName.$error.required) && regCtrlForm.lastName.$touched">
        Last Name must be at least 4 characters long
        </span>
        <span ng-if="regCtrlForm.lastName.$error.maxlength && regCtrlForm.lastName.$touched">
        Last Name must not be longer than 10 characters
        </span>
        <br>

        <input type="email" name="email" placeholder="Email"
          ng-model="regCtrl.info.email"
          required>
          <span ng-if="regCtrlForm.email.$invalid && regCtrlForm.email.$touched">
            Must be a valid email address: handle@domain format
          </span>
          <br>

        <input type="text" name="phone" placeholder="Phone ###-###-####"
          ng-model="regCtrl.info.phone"
          pattern="(\d{3})-(\d{3})-(\d{4})">
          <span ng-if="regCtrlForm.phone.$invalid && regCtrlForm.phone.$touched">
            Phone must be in the format ###-###-####.
          </span>
          <br>

          <input type="text" name="favorite" placeholder="Favorite dish"
            ng-model="regCtrl.info.favorite"
            ng-blur="regCtrl.validateFavorite()">
            <span ng-if="regCtrl.invalidFavorite">
              No such menu number exists
            </span>
            <br>


        <button
          ng-disabled="regCtrlForm.$invalid"
          ng-click="regCtrl.submit()">Submit</button>

          <div style="margin-top: 10px;">
            Form valid? {{ regCtrlForm.$valid }}
          </div>
      </form>
    </fieldset>

    <div ng-if="regCtrl.submitted">Your information has been saved</div>



</div>
