<br>
<hr>
<div>
        <div class="row" ng-repeat="item in items">
                <div class="col-md-3" >
                        Name: {{item.name}}
                </div>
                <div class="col-md-3" >
                        Short Name: {{item.short_name}}
                </div>
                <div class="col-md-3" >
                        Desc: {{item.description}}

                </div>
                <div class="col-md-3" >
                        <button ng-click="ctrl.remove($index)">Remove</button>
                </div>
                <br>

        </div>
</div>
